.route-menu {
  grid-area: menu;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 1;
  padding: 0;
  margin: 0;
  background-color: var(--mapbox-land);
  border-right: 1px solid var(--road-line);
}

.route-menu-header {
  padding: 0.5em 0.5rem;
}

.route-menu h2 {
  color: var(--mapbox-water);
  background-color: var(--light-gray);
  text-align: center;
}

.route-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: scroll;
}

.route-menu ul li {
  border: 1px solid var(--road-line);
  padding: 0.5em 1rem;
}

.route-menu ul li button {
  cursor: pointer;
  border: none;
  width: 100%;
  font-weight: bold;
  font-size: 1.17rem;
  border-radius: 5px;
  padding: 0.5em 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.route-menu ul li button svg {
  margin-left: 1rem;
  visibility: hidden;
}

.route-menu ul li button svg.is-active {
  visibility: visible;
}

.card-body {
  padding: 0 1rem;
  height: 0;
  overflow: hidden;
}

.card-body.is-active {
  height: 3.5rem;
}

.card-body p {
  margin: 0.5em 0;
}

.card-body p span {
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  .route-menu {
    position: relative;
  }
}
