.app {
  color: #fff;
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.app-header {
  grid-area: header;
  display: flex;
  justify-content: center;
}

.app-main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.react-logo {
  pointer-events: none;
  height: 3rem;
}

@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
