main {
  grid-area: main;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: minmax(0, auto);
  grid-template-areas: "map map";
  position: relative;
  border: 1px solid var(--road-line);
}

map {
  grid-area: map;
}

@media only screen and (min-width: 600px) {
  main {
    grid-template-areas: "menu map";
  }
}
